
fastapi
uvicorn[standard]
python-dotenv
streamlit

llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
llama_index.llms.groq
langgraph
langchain
langchain-openai
llama_index_core
langchain_groq
llama-index-embeddings-fastembed
llama-index-vector-stores-chroma

fastembed
chromadb
pydantic
pydantic-settings
tenacity

qdrant-client

pydantic
pydantic-settings


tenacity
python-multipart
aiofiles
email-validator
jinja2

dotenv 